.banner {
    background-color: rgba(252, 251, 251, 0.45);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

.header {
    display: flex;
    align-items: center;
}

.Logo {
    float: left;
}

.navbar {
    float: right;
    overflow: hidden;
}

.navbar a {
    color: darkslategray;
    text-align: center;
    padding: 14px 75px;
    text-decoration: none;
    font-size: 20px;
    font-family: Impact, fantasy;
}

.navbar a:hover {
    background-color: darkslategray;
    color: white;
  }

body {
    
    
    background-image: url("/creative_assets/legoramp.JPG");
    background-size: cover;
    background-position: center;
    animation-name: slideshow;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    scroll-padding-top: 20px;
    
  }
  
  @keyframes slideshow {
    0% {
      background-image: url("/creative_assets/legoramp.JPG");
    }
    33.33% {
      background-image: url("/creative_assets/legoalley.JPG");
    }
    66.66% {
      background-image: url("/creative_assets/legocity.JPG");
    }
    100% {
      background-image: url("/creative_assets/legoramp.JPG");
    }
  }

  .slideshow {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    
  }
  
  .slideshow img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 20s ease-in-out;
  }
  
  .slideshow img.active {
    opacity: 1;
  }

  /*footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
    
    
  }*/